examples/02 speedtest.json
[{"id":"efaf64859ad96c94","type":"group","z":"db39bbbe01b608ed","name":"speedtest","style":{"label":true},"nodes":["e499e1043df483fb","d721826a44bd4883","6ac7b25bc84b8156","a93cc4c027d3dcb5","74415b2ee31979cd","52d5dfd0e14f1040","6906ea9cb698ed10","8adedbe57e5d2578","a5bd5983128459cd","b81013e994aa666c","685918eccce614b7","3fa2eb0b3f3648c0"],"x":14,"y":399,"w":1112,"h":222},{"id":"e499e1043df483fb","type":"ui_slider","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","label":"Speed msg/sec","tooltip":"","group":"5053dc5d780ac32f","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"speed","topicType":"str","min":0,"max":"200","step":"10","x":340,"y":440,"wires":[["d721826a44bd4883"]]},{"id":"d721826a44bd4883","type":"function","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"timer","func":"var settings = context.get(\"settings\") || {speed:10,run:false,counter:0}\ncontext.set(\"settings\",settings);\n\nif (msg.topic!==undefined) settings[msg.topic] = msg.payload;\nif (settings.timer) clearInterval(settings.timer)\nif(settings.run) {\n    settings.timer=setInterval(() => {\n        settings.counter++;\n        node.send({payload:settings.counter,timestamp:Date.now()})\n    },1000/settings.speed);\n\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":460,"wires":[["6906ea9cb698ed10"]]},{"id":"6ac7b25bc84b8156","type":"ui_switch","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","label":"Run","tooltip":"","group":"5053dc5d780ac32f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"run","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":310,"y":500,"wires":[["d721826a44bd4883"]]},{"id":"a93cc4c027d3dcb5","type":"debug","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":520,"wires":[]},{"id":"74415b2ee31979cd","type":"inject","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"speed","payload":"10","payloadType":"num","x":180,"y":440,"wires":[["e499e1043df483fb"]]},{"id":"52d5dfd0e14f1040","type":"ui_uplot-charts","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","group":"e6be242af5f773d3","order":4,"width":"18","height":"12","name":"","title":"uPlot","series":[{"topic":"sin","label":"sin","scale":"sin","stroke":"rgba(31,119,180,1.00)","width":1,"dash":[],"path":"linear","fill":"rgba(31,119,180,0.30)","spanGaps":true,"show":true,"forward":false}],"scales":[{"id":"sin","name":"Sin","auto":false,"min":-1,"max":1}],"axes":[{"label":"SInus","scale":"sin","stroke":"rgba(127,127,127,0.80)","side":0,"grid":{"stroke":"rgba(127,127,127,0.80)","width":1,"dash":[1,5],"show":true},"ticks":{"stroke":"rgba(127,127,127,0.80)","width":2,"dash":[],"show":true}}],"axesX":{"space":40,"incrs":[1,5,10,15,30,60,300,600,900,1800,3600,86400,2419200,31536000],"values":[[31536000,"{YYYY}","","","","","","",1],[2419200,"{MMM}","\n{YYYY}","","","","","",1],[86400,"{DD}.{MM}","\n{YYYY}","","","","","",1],[3600,"{H}","\n{DD}.{MM}.{YY}","","\n{DD}.{MM}","","","",1],[60,"{H}:{mm}","\n{DD}.{MM}.{YY}","","\n{DD}.{MM}","","","",1],[1,"{ss}s","\n{DD}.{MM}.{YY} {H}:{mm}","","\n{DD}.{MM} {H}:{mm}","","\n{H}:{mm}","",1],[0.001,"{ss}.{fff}s","\n{DD}.{MM}.{YY} {H}:{mm}","","\n{DD}.{MM} {H}:{mm}","","\n{H}:{mm}","",1]]},"plugins":[{"plugin":"keepZoomLevelPlugin","enabled":true,"panWithData":true,"defaultZoom":40,"defaultZoomPeriod":1},{"plugin":"wheelPanZoomPlugin","enabled":true,"factor":0.75},{"plugin":"touchZoomPlugin","enabled":false}],"dataPlugins":[{"plugin":"limitColumns","enabled":true,"columns":360,"limitColumnsEvery":1,"limitColumnsPeriods":0},{"plugin":"limitTime","enabled":true,"last":1,"period":60,"limitTimeEvery":1,"limitTimePeriods":3600,"checkEvery":1}],"dataStore":{"context":"node","store":"memory"},"debugServer":false,"debugClient":false,"spaceForTitle":"50","spaceForLegend":"50","x":1030,"y":440,"wires":[[]]},{"id":"6906ea9cb698ed10","type":"function","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"sin(x)","func":"msg.topic = \"sin\"\nmsg.payload = Math.sin(msg.payload * 0.01745 )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":460,"wires":[["a93cc4c027d3dcb5","a5bd5983128459cd"]]},{"id":"8adedbe57e5d2578","type":"ui_chart","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","group":"24fc69b5f111f444","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"mm:ss.SSS","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"360","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1010,"y":500,"wires":[[]]},{"id":"a5bd5983128459cd","type":"switch","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","property":"speedDestination","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":850,"y":460,"wires":[["52d5dfd0e14f1040"],["8adedbe57e5d2578"],["52d5dfd0e14f1040","8adedbe57e5d2578"]]},{"id":"b81013e994aa666c","type":"ui_dropdown","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","label":"Destination","tooltip":"","place":"Select option","group":"5053dc5d780ac32f","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"uPlot","value":1,"type":"num"},{"label":"chart","value":2,"type":"num"},{"label":"both","value":"3","type":"str"}],"payload":"","topic":"speedDest","topicType":"str","x":330,"y":580,"wires":[["685918eccce614b7"]]},{"id":"685918eccce614b7","type":"change","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","rules":[{"t":"set","p":"speedDestination","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":580,"wires":[[]]},{"id":"3fa2eb0b3f3648c0","type":"inject","z":"db39bbbe01b608ed","g":"efaf64859ad96c94","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"speedDestination","payload":"1","payloadType":"num","x":150,"y":580,"wires":[["b81013e994aa666c"]]},{"id":"5053dc5d780ac32f","type":"ui_group","name":"Speed Test settings","tab":"2a3e5faf927e1808","order":1,"disp":true,"width":"18","collapse":false},{"id":"e6be242af5f773d3","type":"ui_group","name":"uPlot","tab":"2a3e5faf927e1808","order":2,"disp":true,"width":"18","collapse":true},{"id":"24fc69b5f111f444","type":"ui_group","name":"Chart","tab":"2a3e5faf927e1808","order":3,"disp":true,"width":"18","collapse":true},{"id":"2a3e5faf927e1808","type":"ui_tab","name":"uPlot Speedtest","icon":"dashboard","disabled":false,"hidden":false}]