examples/03 reduceData.json
[{"id":"aa2bb6e4a8c95d34","type":"group","z":"db39bbbe01b608ed","name":"reduce data demo","style":{"label":true},"nodes":["814778a70a423205","52b018e6c2f52fb9","4058d4d47f31181d","459e7a81fc710ea4","3fd494f6a67931d7","cdaf3ff5a42a188e"],"x":54,"y":699,"w":1052,"h":122},{"id":"814778a70a423205","type":"function","z":"db39bbbe01b608ed","g":"aa2bb6e4a8c95d34","name":"timer","func":"var settings = context.get(\"settings\") || {speed:10,run:false,counter:0}\ncontext.set(\"settings\",settings);\n\nif (msg.topic!==undefined) settings[msg.topic] = msg.payload;\nif (settings.timer) clearInterval(settings.timer)\nif(settings.run) {\n    settings.timer=setInterval(() => {\n        settings.counter++;\n        node.send({payload:settings.counter,timestamp:Date.now()})\n    },1000/settings.speed);\n\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":740,"wires":[["cdaf3ff5a42a188e"]]},{"id":"52b018e6c2f52fb9","type":"ui_switch","z":"db39bbbe01b608ed","g":"aa2bb6e4a8c95d34","name":"","label":"Run","tooltip":"","group":"9650b7dd7619baae","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"run","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":310,"y":780,"wires":[["814778a70a423205"]]},{"id":"4058d4d47f31181d","type":"debug","z":"db39bbbe01b608ed","g":"aa2bb6e4a8c95d34","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":780,"wires":[]},{"id":"459e7a81fc710ea4","type":"inject","z":"db39bbbe01b608ed","g":"aa2bb6e4a8c95d34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"speed","payload":"10","payloadType":"num","x":160,"y":740,"wires":[["814778a70a423205"]]},{"id":"3fd494f6a67931d7","type":"ui_uplot-charts","z":"db39bbbe01b608ed","g":"aa2bb6e4a8c95d34","group":"9650b7dd7619baae","order":4,"width":"20","height":"15","name":"","title":"uPlot reduce data demo","series":[{"topic":"sin","label":"sin","scale":"sin","stroke":"rgba(31,119,180,1.00)","width":1,"dash":[],"path":"linear","fill":"rgba(31,119,180,0.30)","spanGaps":true,"show":true,"forward":false}],"scales":[{"id":"sin","name":"Sin","auto":false,"min":-1,"max":1}],"axes":[{"label":"SInus","scale":"sin","stroke":"rgba(127,127,127,0.80)","side":0,"grid":{"stroke":"rgba(127,127,127,0.80)","width":1,"dash":[1,5],"show":true},"ticks":{"stroke":"rgba(127,127,127,0.80)","width":2,"dash":[],"show":true}}],"axesX":{"space":40,"incrs":[1,5,10,15,30,60,300,600,900,1800,3600,86400,2419200,31536000],"values":[[31536000,"{YYYY}","","","","","","",1],[2419200,"{MMM}","\n{YYYY}","","","","","",1],[86400,"{DD}.{MM}","\n{YYYY}","","","","","",1],[3600,"{H}","\n{DD}.{MM}.{YY}","","\n{DD}.{MM}","","","",1],[60,"{H}:{mm}","\n{DD}.{MM}.{YY}","","\n{DD}.{MM}","","","",1],[1,"{ss}s","\n{DD}.{MM}.{YY} {H}:{mm}","","\n{DD}.{MM} {H}:{mm}","","\n{H}:{mm}","",1],[0.001,"{ss}.{fff}s","\n{DD}.{MM}.{YY} {H}:{mm}","","\n{DD}.{MM} {H}:{mm}","","\n{H}:{mm}","",1]]},"plugins":[{"plugin":"keepZoomLevelPlugin","enabled":true,"panWithData":true,"defaultZoom":1,"defaultZoomPeriod":60},{"plugin":"wheelPanZoomPlugin","enabled":false,"factor":0.75}],"dataPlugins":[{"plugin":"limitTime","enabled":true,"last":1,"period":60,"limitTimeEvery":1,"limitTimePeriods":60,"checkEvery":1},{"plugin":"reduceData","enabled":true,"older":10,"threshold":1,"span":1,"periods":1,"applyTo":["sin"],"method":"average","resultAt":2},{"plugin":"reduceData","enabled":true,"older":30,"threshold":1,"span":2,"periods":1,"applyTo":["sin"],"method":"average","resultAt":2},{"plugin":"cleanTable","enabled":false,"cleanEvery":1,"cleanPeriod":60}],"dataStore":{"context":"node","store":"memory"},"debugServer":true,"debugClient":true,"spaceForTitle":"50","spaceForLegend":"50","x":1010,"y":740,"wires":[[]]},{"id":"cdaf3ff5a42a188e","type":"function","z":"db39bbbe01b608ed","g":"aa2bb6e4a8c95d34","name":"sin(x)","func":"msg.topic = \"sin\"\nmsg.payload = Math.sin(msg.payload * 0.01745 )\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":740,"wires":[["4058d4d47f31181d","3fd494f6a67931d7"]]},{"id":"9650b7dd7619baae","type":"ui_group","name":"Demo","tab":"45b6a2427dc6859f","order":1,"disp":true,"width":"20","collapse":false},{"id":"45b6a2427dc6859f","type":"ui_tab","name":"uPlot: reduce data","icon":"dashboard","disabled":false,"hidden":false}]